@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "titleBold";
  src: url("/fonts/base_neue/BaseNeueTrial-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sansText";
  src: url("/fonts/Work_Sans/static/WorkSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "interText";
  src: url("/fonts/Inter/static/Inter_24pt-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "interTextBold";
  src: url("/fonts/Inter/static/Inter_24pt-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


/* Hide scrollbar for Chrome, Safari, and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

h1 {
  font-family: "titleBold", sans-serif;
}

h2 {
  font-family: "interTextBold", sans-serif;
}

h3 {
  font-family: "interText", sans-serif;
}

body,
p,
span,
div,
a,
li,
ul,
ol,
input,
button,
textarea {
  font-family: "sansText", sans-serif;
}

.no-global-font {
  font-family: monospace !important;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: purple;
  }
}

.typewriter {
  overflow: hidden;
  border-right: 2px solid purple;
  white-space: nowrap;
  width: 0;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}