@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "titleBold";
  src: url("/fonts/base_neue/BaseNeueTrial-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sansText";
  src: url("/fonts/Work_Sans/static/WorkSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "interText";
  src: url("/fonts/Inter/static/Inter_24pt-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "interTextBold";
  src: url("/fonts/Inter/static/Inter_24pt-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


/* Hide scrollbar for Chrome, Safari, and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

h1 {
  font-family: "titleBold", sans-serif;
}

h2 {
  font-family: "interTextBold", sans-serif;
}

h3 {
  font-family: "interText", sans-serif;
}

body,
p,
span,
div,
a,
li,
ul,
ol,
input,
button,
textarea {
  font-family: "sansText", sans-serif;
}